:root {
  --black: #313348;
  --white: #edf4fa;
  --red: #a52c3d;
  --dark-red: #573045;
}


.game-board,
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile img,
#chess-board .new-row,
.player-input,
.box,
.btns button,
.btns::before,
.btns::after{
  width: 100%;
}
.avatar-picture img,
.btns button,
.btns::after,
.btns::before{
  height: 100%;
}
.game-board,
.player-input {
  color: var(--white);
}

.game-board {
  background-color: var(--black);
  height: 100vh;
  flex-direction: column;
}
#chess-board {
  display: inline-block;
  flex-wrap: wrap;
  padding: 5px;
  border-radius: 8px;
  background-color: var(--black);
  border: 2px solid var(--white);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
}
#chess-board .tile {
  width: 5vw;
  height: 5vw;
  text-align: center;
  border-radius: 4px;
  font-size: 2em;
}
table {
  border-collapse: separate;
  border-spacing: 5px;
}
#chess-board .tile {
  background-color: var(--red);
  position: relative;
}

#chess-board .new-row {
  clear: both;
}

#chess-board .empty {
  background-color: red;
}

#chess-board .player {
  background-color: var(--red);
  cursor: pointer;
}

#chess-board .clicked {
  background-color: transparent;
  border: 2px solid var(--white);
  cursor: crosshair;
  border-radius: 25%;
  transition: 0.3s ease-out;
}
#chess-board .clicked:hover {
  background-color: var(--white);
  color: var(--red);
  border-radius: 50%;
}

.player-info > :nth-child(2) {
  width: 80%;
}
.player-info label {
  font-size: 2em;
}
.avatar-picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--black);
  border: 3px solid var(--white);
  position: relative;
}
.avatar-picture img {
  border-radius: 50%;
}
.avatar-picture::after {
  text-align: center;
  content: attr(data-value);
  position: absolute;
  padding: 10px;
  min-width: 50px;
  border-radius: 50%;
  background-color: var(--black);
  border: 4px solid var(--white);
  left: 0;
  bottom: -20px;
}
.player-input {
  height: 2.5em;
  padding: 0 5px;
  background: none;
  border: none;
  border-bottom: var(--white) 2px solid;
  font-weight: bold;
  letter-spacing: 4px;
}
.score {
  position: absolute;
  right: 10px;
  font-size: 0.8em;
  top: 0;
  opacity: 0.5;
}
#turn {
  font-size: 1.5em;
  font-weight: bold;
}
.box {
  height: 66.66%;
  
}

.btns {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s;
  position: relative;
}

.btns button {
  z-index: 2;
  display: block;
  position: absolute;
  
  color: #fff;
  font-size: 17px;
  border: none;
  background-color: transparent;
}

.btns::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  transform: rotate(-45deg);
}

.btns::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  
  z-index: 1;
  transition: all 0.5s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
}

.btns:hover::before {
  background-color: rgba(255, 255, 255, 0);
}

.btns:hover::after {
  background-color: rgba(255, 255, 255, 0);
}

@media screen and (max-width: 1000px) {
  .avatar-picture {
    height: 80px;
    width: 80px;
  }
  .player-info label {
    font-size: 0.8em;
  }
  .avatar-picture::after {
    padding: 5px;
    min-width: 40px;
  }
  .player-input {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .btns {
    line-height: 20px;
    height: 20px;
    text-align: center;
    width: 50px;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;
    position: relative;
  }

  .btns button {
    z-index: 2;
    display: block;
    position: absolute;
    

    color: #fff;
    font-size: 10px;
    border: none;
    background-color: transparent;
  }
  #turn {
    font-size: 1em;
  }
  .btn-lg {
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 3px;
  }
  .score {
    right: 5px;
    font-size: 0.5em;
  }
  #chess-board .tile {
    font-size: 1.5em;
  }
}
